img {
  height: 2.2em;
  margin-right: 0.5em;
}

header {
  background: #eee;
  padding: 0 0.5em;
  height: 3em;
  display: flex;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
}

span {
  font-size: 1.2em;
}
