<main>
  <h1>Liste des articles</h1>
  <div class="table">
    <div class="header">
      <div class="cell">Nom</div>
      <div class="cell">Prix (€)</div>
      <div class="cell">Quantité</div>
    </div>
    <div class="body">
      <div class="row">
        <div class="cell">Tournevis</div>
        <div class="cell">12.34</div>
        <div class="cell">5</div>
      </div>
      <div class="row">
        <div class="cell">Marteau</div>
        <div class="cell">3.60</div>
        <div class="cell">10</div>
      </div>
      <div class="row">
        <div class="cell">Tournevis</div>
        <div class="cell">12.34</div>
        <div class="cell">5</div>
      </div>
      <div class="row">
        <div class="cell">Marteau</div>
        <div class="cell">3.60</div>
        <div class="cell">10</div>
      </div>
      <div class="row">
        <div class="cell">Tournevis</div>
        <div class="cell">12.34</div>
        <div class="cell">5</div>
      </div>
      <div class="row">
        <div class="cell">Marteau</div>
        <div class="cell">3.60</div>
        <div class="cell">10</div>
      </div>

    </div>
  </div>
</main>
