.header {
  display: flex;
  font-weight: bold;
  background: #ccc;
}

.row {
  display: flex;
  &:nth-child(even) {
    background: #eee;
  }

  &.selected {
    background: hsl(240, 100%, 80%);
  }
}

.cell {
  padding: 0.5em;
  flex-grow: 1;
  width: 5em;
}

.table {
  margin-top: 1em;
}
