<main>
  <h1>Liste des articles</h1>
  <button routerLink="/stock/create">Créer</button>
  <div class="table">
    <div class="header">
      <div class="cell">Nom</div>
      <div class="cell">Prix (€)</div>
      <div class="cell">Quantité</div>
    </div>
    <div class="body">
      <div *ngFor="let article of articles" class="row">
        <div class="cell">{{ article.name }}</div>
        <div class="cell">{{ article.price }}</div>
        <div class="cell">{{ article.qty }}</div>
      </div>
    </div>
  </div>
</main>
