<main>
  <h1>Mentions Légales</h1>
  <p>date: {{ now | date : 'medium' }}</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloremque
    hic eligendi, nisi dolorum dolorem natus? Deserunt, dolore? Sequi
    perspiciatis corporis veniam cum! Sapiente incidunt nostrum itaque debitis
    ullam. Id.
  </p>
</main>
